@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

 :root {
     --fonte1:Verdana, Geneva, Tahoma, sans-serif;
     --fonte2: font-family: 'Passion One', cursive; 
     --fonte3:font-family: 'Sriracha', cursive; 

 }
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body {
    min-height: 100%vh;
    background-color: darkgray;
    font-family: var(--fonte1);
   
}
header {
    background-color: black;
    color: white;
    text-align: center;

}
header > h1 {
    padding: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 3em;
}
header >p {
    padding-bottom: 50px;
 }
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3)
   
  }
  section.imagem > p {
      width: 400px;
      background-color: rgba(0, 0, 0, 0.178);
      
  }
section.normal{
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(29, 28, 28);
    color: white;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
