@charset "UTF8";

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100%vh;
    background-color: darkgray;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding: 50px;
    /*text-transform: uppercase;*/
    font-variant: small-caps;

}
header >p {
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
  }
  section.imagem > p {
      width: 400px;
      background-color: rgba(0, 0, 0, 0.178);
  }
section.normal{
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(29, 28, 28);
    color: white;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
