@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

 :root {
     --fonte1: Verdana, Geneva, Tahoma, sans-serif;
     --fonte2: 'Passion One', cursive; 
     --fonte3:'Sriracha', cursive; 
 }
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body {
    min-height: 100%vh;
    background-color: darkgray;
    font-family:  var(--fonte1);
   
}
header {
    background-color: black;
    color: white;
    text-align: center;

}
header > h1 {
    padding: 50px;
    font-variant: small-caps;
    font-family:var(--fonte2);
    font-size: 10vw;
}
header > p {
    padding-bottom: 50px;
 }
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height:2em;
    font-size: 3.5vw;
    padding-left: 30px;   
       
  }
  section > p {
    font-family: var(--fonte3);
    padding-bottom: 2em;
   
  }
  section.imagem > p {
     display:inline-block;
     padding: 5px;
      background-color: rgba(0, 0, 0, 0.466);
      text-shadow: 2px 2px 1px black;

      
      
  }
section.normal {
    background-color: white;
    color: black;
   
}
section.imagem {
    background-color: rgb(29, 28, 28);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.671);
    background-attachment: fixed;
}
section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
background-size: cover;
}
section#img02 {
    background-image: url(../imagens/background002.jpg);
background-size: cover;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
