@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #ddd6c8, #ce9e5f ); 
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    width: 50% ;
    padding: 10px;
    margin: auto;
}
h1{
    color: #9ea027;
    text-align: center;
    text-shadow: 1px 1px 2px #d3d606;

}
h2{
    color:#26528C ;

}
p {
    text-align: justify;
}